/.vs/Financas
/Financas/bin/Debug/net8.0
/Financas/obj
/Financas.Services/bin/Debug/net8.0
/Financas.Services/obj
/Financas.Api/bin/Debug/net8.0
/Financas.Infra/bin/Debug/net8.0


.dll
.pdb
.cache
.exe
/Financas/bin/Release/net8.0
/.vs/Financas/FileContentIndex
