# Ignorar arquivos e pastas do Visual Studio
.vs/
*.suo
*.user

# Ignorar arquivos de compilação e saída
[Oo]bj/
[Bb]in/
*.dll
*.pdb
*.exe
*.cache

# Específico para suas pastas projetadas
/Financas/bin/
/Financas/obj/
/Financas.Services/bin/
/Financas.Services/obj/
/Financas.Api/bin/
/Financas.Infra/bin/
